<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033668956054-dttlt3iu3a1rlphk7fquj7ou5mu91hjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033668956054-dttlt3iu3a1rlphk7fquj7ou5mu91hjs</string>
	<key>API_KEY</key>
	<string>AIzaSyCIcNCiJYf9-qRk5zoAtB3q7OwiFFJ2vX4</string>
	<key>GCM_SENDER_ID</key>
	<string>1033668956054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoursolution.roster</string>
	<key>PROJECT_ID</key>
	<string>roster-mobile-1625a</string>
	<key>STORAGE_BUCKET</key>
	<string>roster-mobile-1625a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033668956054:ios:d1e4759afba606b0ed57b7</string>
	<key>DATABASE_URL</key>
	<string>https://roster-mobile-1625a.firebaseio.com</string>
</dict>
</plist>